html{
  height:100%;
}
body {
  color: #54585a;
  height: 100%;
}

.text-center{
  /*this broke in Bootstrap, don't know why*/
  text-align: center;
}

.pane {
  height: 99%;
  position: relative;
}

.arrow {
  cursor: pointer;
  font-size: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.arrow A:hover{
  text-decoration: none;
}

.downArrow {
  bottom: 3rem;
}

.upArrow {
  position: inherit;
}

#summary {
  max-width: 100rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 2rem;
  text-align:center;
}
